[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}

/*Sticky footer */
body {
    font-size: 1em;
}

html, body, #wrap {height: 100%;}

body > #wrap {height: auto; min-height: 100%;}

#main {padding-bottom: 150px;}  /* must be same height as the footer */

#footer {
   position:fixed;
   bottom:0px;
   width: 80%;
   height: 120px;
   background-color: black;
   border: 1px solid black;
} 



#cover {
    position:absolute;
    height:100%;
    width:100%;
    background:white;
}

#userInfo {
    float:right;padding:8px;
}

#alertBox {
    position: fixed;
    min-width: 75%;
    left: 50%;
    margin: 0 0 0 -37.5%;
    top: 5px;
}

.fa.fa-twitter {
    color:#00A7E7;
}

.fa.fa-facebook-square {
    color:#3662A0;
}

.fa.fa-google-plus-square {
    color: #D74634;
}

.fade-hide-setup, .fade-show-setup {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide-setup {
    opacity:1;
}
.fade-hide-setup.fade-hide-start {
    opacity:0;
}

.fade-show-setup {
    opacity:0;
}
.fade-show-setup.fade-show-start {
    opacity:1;
}
.top-buffer{
    margin-top:10px;
}

.movietable tr td {
} 

.movietable tr td.problem-col {
    width: 30%;
}
.movietable tr td.star-col {
    width: 15%;
    font-size:1em;

 /* -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
*/
  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  /*-webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
*/
  /* Should be unset in IE9+ I think. */
  /*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
} 
.movietable tr td.argums-col {
    width: 30%;
} 
.Argumtable tr:nth-child(1) td{
    border-top: none;
}
a.nodecoration{
    text-decoration:none;
}

.float-left{
    float: left;
    width: 45%;
}

.float-right{
    float: right;
    width: 45%;
}

.rating li.filled {
      color: #fd0; //#21568b
}

.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #21568b;
}

.comp-header {
   background-color: #87CEEB;
   padding: 5px;
   text-align: center;
   margin: 2px;
   width: 100px;
}

.comp ul, .comp ol {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 10px;
    margin-left: 0;
    margin-top: 0;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
}

td.text-left {
    text-align: left;
}

.txt-wide {
    width: 100%;
    height: 125px;
}
.search-bar {
    padding:10px 10px 12px 8px;
}

.search-bar > input {
    width: 42%;
}

#score {
    left: 281px;
    position: relative;
    top: -70px;
}
.score{
  float:right;
  padding-right: 10px;
  padding-left: 20px;
}
.score-sm {
    float: right;
    font-size: 10px;
    padding-left: 10px;
    padding-right: 5px;
    position: relative;
    top: -18px;
}

.argum-table tbody {
    vertical-align: top;
}

.argum-table td {
  padding-left: 15px;}


.best .panel-default .panel-heading {
  font-weight: bold;
  background-color: #FFD700;
}    

.argums-list {
  font-size: 10px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  border-right: 1px solid grey;
}

.argums-list div.bottom{
  border-bottom: 1px solid grey;
  margin-right: 5px;
  margin-top: 5px;
}

.btn-success {
  margin-left: 10px;
 } 
 .table.movietable {
    width: 80%;
    float: left;
 }
 .argum-table{
   width: 80%;
   float: left;
 }
 .g-search {
  /*float:right;
  width:19%;*/
 }
.arg-details {
    wrap: nowrap; 
    display:block;
    max-height: 3em;
    width: 97%;
    overflow: hidden;
    position: relative;
}

.ellipsis {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #FFFFFF;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    bottom: 0;
    margin-left: 4px;
    position: absolute;
    right: 0;
}

.fill {
    background: #fff; 
    height: 100%;
    position: absolute;
    width: 100%;
}

 #my-frame {
  width: 100%;
  height: 800px;
  border: 1px solid black; 
 }
.g-serach-selected{
  background-color: #008000;
}
 .g-serach-list {
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
    padding: 5px;
    vertical-align: top;
    width: 15%;
    height: 150px;
}
.search-blob {
    background-color: #008000;
    color: #FFFFFF;
    height: 40px;
    left: -80px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 6px;
    position: fixed;
    text-align: center;
    top: 200px;
    transform: rotate(-90deg);
    transform-origin: 50% 50% 0;
    vertical-align: middle;
    width: 200px;
  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
     
}
.container {
  margin-bottom: 150px;
}

.details {
  max-height: none;
}

.nav-social {
    float: right;
    left: 92%;
    position: absolute;
    top: 30%;
}

.cat-results{
  float:right;
  border: 1px solid black;
  padding-right: 10px;
  padding-left: 20px;
}
.catselected {
  padding-left: 3px;
  background-color: black;
  color: white;
}
.catselected  a, .catselected  a:hover, .catselected  a:focus {
  color: white;

}
.catnotselected {
  background-color: none;
}
.cat-query {
    float: left;
    height: 100%;
    padding-left: 10px;
    list-style-type: none;
}
.table.argumcattable {
    width: 80%;
    float: left;
 }
 
.argumcattable tr td.problem-col {
    width: 30%;
}
.argumcattable tr td.star-col {
    width: 15%;
    font-size:1em;
} 
.argumcattable tr td.argums-col {
    width: 30%;
} 

.argum-edit-nav > input {
    width: 100%;
}

.argum-edit-nav {
  float: right;
  width: 20%;
}
.probselected {
  background-color: #DCDCDC;
}