
  <div ng-hide="hideme" id="car" >
    <carousel class="fading" interval="myInterval">
      <slide>
          <p>How do you succeed?</p>
      </slide>
      <slide>
          <p>1. Know what you want to acheive. <a href="" ng-click="">Set Goals</a></p>
      </slide>
      <slide>
          <p>2. Realize what prvents you from getting it. <a href="" ng-click="">Analize Problems</a> </p>
      </slide>
      <slide>
          <p>3. Find Solutions</p>
      </slide>
    </carousel>
    <a href="" ng-click="hideme=true" >X</a>
  </div>