<table class="table movietable" >
    <tr>
        <td><h3>{{argum.title}}</h3> Published {{argum.publishDate}} Vote {{argum.vote}}
           
           <span ng-model="argum.vote" class="star-rating" star-rating rating-value="{{argum.vote}}" max="10" off="true" on-rating-selected="rateFunction(rating)"></span>
            <span>Created by:</span><span ng-model="argum.user"  id="user" >{{argum.user}}</span>
           <p>
                Share:<input type="checkbox" ng-checked="argum.share" ng-model="argum.share" class="" id="share" />
            </p>

        </td>
        <td></td>
    </tr>
    <tr>
        <td colspan="2">
            {{argum.details}}
             <accordion> 
                <div accordion-group heading="Criterias">   
                     <ul >   
                        <li  ng-repeat="criteria in argum.criterias">{{criteria.title}}
                        weight: {{criteria.weight}}
                        range: {{criteria.range}}
                        </li>
                    </ul>
                </div>
            </accordion>    
        </td>
        </tr>
    </table>


<table accordion close-others="false" class="argum-table">

    <tr >
        <td class="repeat-animation animated bounceInLeft" ng-init="solution.score = solution.score || 0" ng-class='{best:$first}' ng-repeat="solution in argum.solutions| orderBy:'score':true">
            <div accordion-group>  
            <div  accordion-heading >{{solution.title}} 
                 <span class="score">{{solution.score}}   
            </span>
            </div>
            <p>
                <input type="text" ng-model="solution.title" class="" id="title" placeholder="title"/> 
                
                <input type="hidden" ng-model="solution.score" id="score"></input> 
            </p>
            <div>
                <textarea class="txt-wide" ng-model="solution.details"  id="title" placeholder="Details"></textarea> 
                <accordion>
                    <accordion-group  ng-init="initcScore(solution)"  is-open="status.isFirstOpen" heading="Criteria Values. Weighted Score:  {{solution.cscore}}" >
                        <div class="sol-criteria" ng-init="initRate(solution, criteria.weight, $index)" ng-repeat="criteria in argum.criterias|orderBy:'weight':true"" >   
                             <label class="col-sm-12">{{criteria.title}} is {{solution.criterias[$index].value}}</label>
                             <span class="col-sm-12 star-rating" star-rating rating-value="{{solution.criterias[$index].rating}}" color="black" code="&#9878;" max="10" on-rating-selected="calcWeightedRate(solution,rating, criteria.weight, $index)"></span>
                            </span>
                        </div>    
                    </accordion-group>
                </accordion>
            </div>
            <div class="comp float-left-half ">
                <ul>
                     <li class= "rate procons" ng-repeat="pro in solution.pros| orderBy:'rating':true"> 
                            <span class="col-sm-12 title">{{pro.title}}</span>
                            <span class="col-sm-12 star-rating" star-rating rating-value="{{pro.rating}}" color="green" code="&#9878;" max="10" on-rating-selected="rateFunction(rating, pro, solution)"></span>
                     </li>
            </ul>
            </div>  
            <div class="comp float-left-half">
                <ul>
                     <li class= "rate procons" ng-repeat="con in solution.cons| orderBy:'rating':true"> 
                            <span class="col-sm-12 title">{{con.title}}</span>
                            <span class="col-sm-12 star-rating" star-rating rating-value="{{con.rating}}" max="10" color="red" code="&#9878;" on-rating-selected="rateFunction(rating, con, solution)"></span>
                     </li>
                </ul> 
            </div>
        </div>    
        </td>
    </tr>
</table>

<div>
    <a data-access-level="accessLevels.user" class="btn btn-primary" ui-sref="editArgum({id:argum._id})">Edit</a>
</div>