<div class="argum-edit-nav ">

    <input ng-model="query" type="search" placeholder="Search problems" class="topcoat-search-input search-key">
    <table class="table argumtable" ng-show="internal">
        <tr ng-repeat="arg in argums| filter:query | orderBy:'vote':false">
            <td ng-class="{probselected: arg._id==argum._id}"  class="problem-col" ng-mouseleave="details=false" ng-mouseover="details=true">
                <a ng-hide="!loggedin" access-level="accessLevels.user" ui-sref="editArgum({id:arg._id})">{{arg.title}}</a> 
                <a ng-hide="loggedin" ui-sref="viewArgum({id:arg._id})">{{arg.title}}</a> 
            </td>
        </tr>
    </table>
</div>

<a ng-click="internal=true" class="search-blob"  ng-hide="internal" href="">Open Internal Search</a>
<a ng-show="internal" ui-sref="public.newArgum" class="search-blob btn btn-success">Add New Problem</a>

<iframe id="my-frame" name="my-frame" ng-src="{{extUrl}}" ng-hide="internal"></iframe>


<form class="form-horizontal" role="form" ng-submit="updateArgum()">
   <table class="table movietable form-group">
    <tr>
        <td>
            <h3> <input type="text" ng-model="argum.title" class="form-control" id="title" placeholder="Problem Title Here"/> </h3>
           <span class="star-rating"  star-rating rating-value="{{argum.vote}}" max="10" on-rating-selected="rateFunction(rating, argum)">
            </span>
             <span>Created by </span>{{ user.username }} on {{argum.date}}.</span> 
            <p>
                Share:<input type="checkbox" ng-checked="argum.share" ng-model="argum.share" class="" id="share" />
            </p>
           <p>
            <select ng-model="argum.category"
                ng-options="opt.title as opt.title for opt in options">
            </select>
            </p>
            <input type="hidden" ng-model="argum.vote" class="form-control" id="details" placeholder="Details"/> 
            <input type="hidden" ng-model="argum.category" class="form-control" id="category" placeholder="Category"/> 
            
        <td></td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="text" ng-model="argum.details" class="form-control" id="details" placeholder="Add Details"/> 
             <accordion> 
                <div accordion-group is-open="status.isFirstOpen" heading="Criterias">   
                    <label class="col-sm-2 control-label">Title</label>
                    <label class="col-sm-2 control-label">Range</label>
                    <label class="col-sm-1 control-label">Weight</label>
                    <br></br>    
                    <div ng-repeat="criteria in argum.criterias|orderBy:'weight':true" >   
                        <input type="text" ng-model="criteria.title" class="input-group-sm" id="criterias" placeholder="Criteria"/>
                        <input type="text" ng-model="criteria.range" class="input-group-sm" id="range" placeholder="Range"/>
                        <input type="text" ng-model="criteria.weight" class="input-group-sm" id="weight" placeholder="Weight"/>
                    </div>
                </div>
            </accordion>        
        </td>
    </tr>

 </table>

 <table accordion close-others="false" class="argum-table">

    <tr >
        <td class="repeat-animation animated bounceInLeft" ng-init="solution.score = solution.score || 0" ng-class='{best:$first}' ng-repeat="solution in argum.solutions| orderBy:'score':true">
            <div accordion-group>  
            <div  accordion-heading >{{solution.title}} 
                 <span class="score">{{solution.score}} <a class="del-sol" href="" ng-click="delSol(argum.solutions, solution)" >x</a>   
            </span>
            </div>
            <p>
                <input type="text" ng-model="solution.title" class="" id="title" placeholder="title"/> 
                
                <input type="hidden" ng-model="solution.score" id="score"></input> 
            </p>
            <div>
                <textarea class="txt-wide" ng-model="solution.details"  id="title" placeholder="Details"></textarea> 
                <accordion>
                    <accordion-group  ng-init="initcScore(solution)"  is-open="status.isFirstOpen" heading="Criteria Values {{solution.cscore}}" >
                        <div class="sol-criteria" ng-init="initRate(solution, criteria.weight, $index)" ng-repeat="criteria in argum.criterias|orderBy:'weight':true"" >   
                             <label class="col-sm-8">{{criteria.title}}</label>
                            <input type="text" ng-model="solution.criterias[$index].value" class="" id="value" placeholder="{{criteria.title}} value"/>
                             <span class="star-rating" star-rating rating-value="{{solution.criterias[$index].rating}}" color="black" code="&#9878;" max="10" on-rating-selected="calcWeightedRate(solution,rating, criteria.weight, $index)"></span>
                             <span style="float:right" class="score-sm">{{solution.criterias[$index].wrating}} 
                            </span>
                            <input type="hidden" ng-model="solution.criterias[$index].rating" class="form-control" id="cr{{$index}}" placeholder="Criterias"/> 
                        </div>    
                    </accordion-group>
                </accordion>
            </div>
            <div class="comp float-left-half">
                <ul>
                     <li class= "rate" ng-repeat="pro in solution.pros| orderBy:'rating':true"> 
                            <input type="text" ng-model="pro.title" class="form-control" id="title" placeholder="PRO"/> 
                            <span class="star-rating" star-rating rating-value="{{pro.rating}}" color="green" code="&#9878;" max="10" on-rating-selected="rateFunction(rating, pro, solution)"></span><span class="score-sm">{{pro.rating}} 
                            </span>
                            <a class="del-rate" href="" ng-click="delProCon(solution, 'pros', $index)" >x</a> 
                            <input type="hidden" ng-model="pro.rating" class="form-control" id="pro{{$index}}" placeholder="Details"/> 
                     </li>
            </ul>
            <input ng-click="addNewPro(solution)" class="btn comp-header" value="Add PROS"/>
            </div>  
            <div class="comp float-left-half">
                <ul>
                     <li class= "rate" ng-repeat="con in solution.cons| orderBy:'rating':true"> 
                            <input type="text" ng-model="con.title" class="form-control" id="title" placeholder="CON"/> 
                            <span class="star-rating" star-rating rating-value="{{con.rating}}" max="10" color="red" code="&#9878;" on-rating-selected="rateFunction(rating, con, solution)"></span><span class="score-sm">{{con.rating}}  
                            </span>
                            <a class="del-rate" href="" ng-click="delProCon(solution, 'cons', $index)" >x</a>
                            <input type="hidden" ng-model="con.rating" class="form-control" id="cons{{$index}}" placeholder="Details"/> 
                     </li>
                </ul> 
                <input ng-click="addNewCon(solution)" class="btn comp-header" value="Add CONS"/>
            </div>
        </div>    
        </td>
    </tr>
</table>


<div class="argum-table">
    <div class="">
        <input ng-click="addNewSolution()" class="btn btn-primary" value="Add New Solution"/>
        <input ng-click="addNewCriteria()" class="btn btn-default" value="Add New Criteria"/>
        <input type="submit" class="btn btn-primary" value="Save"/>
        <a access-level="accessLevels.user" class="btn btn-danger"  ng-click="deleteArgum(argum)">Delete</a>
    </div>
</div>
</form>


<div ng-show="googleStuff.length" id="footer">
<div class='g-search'>

<ul>
  <li ng-class="stuff.selected" class="g-serach-list"
      ng-repeat="stuff in googleStuff">
    <a href=""  ng-click="ifr(stuff)"
       target="my-frame"><b>{{stuff.visibleUrl}}</b></a>
 
    <div class="text-muted">{{stuff.titleNoFormatting}}</div>
  </li>
</ul>

</div>

</div>
