<h1>Frequently Asked Questions</h1>
What is a Argums.com? 


<h1>It's a tool based on Pugh Matrix hat helps users to make rational decision.</h1>
<p>

Stuart Pugh was a Professor of Design at Strathclyde University in Glasgow. He wrote an influential book called “Total Design” in which he introduced the decision matrix.

The Pugh matrix was developed to help with the comparison of a number of design candidates leading ultimately to which best meets a set of criteria. Little did Mr.Pugh know that his methodology for approaching decision making would go far and beyond helping to choose between designs!

This matrix provides a simple approach to taking multiple factors into account when reaching ANY type of decision. This is more than just a weighted average decision matrix. No sir. It actually takes into consideration when you already have a preference towards a choice.
<p>

<p>To inquire about advertising call 415-823-1920</p>