doctype html
html(lang='en', data-ng-app='argums-app')
    head
        meta(charset='utf-8')
        base(href='/')
        title Intelligent, carefully weighted decision making tool
        link(rel='stylesheet', href='/css/app.css')
        link(href="/components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
        link(href="/components/font-awesome/css/font-awesome.min.css", rel="stylesheet")
        link(href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css", type="text/css", rel="stylesheet")
        link(href="/components/angular-bootstrap-colorpicker/css/colorpicker.css", type="text/css", rel="stylesheet")
        
        script(data-require="jquery@*", data-semver="2.0.3", src="http://code.jquery.com/jquery-2.0.3.min.js")
        script(src='/components/angular/angular.min.js')
        script(data-require="bootstrap@*", data-semver="3.1.1", src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")

        
        script(type="text/javascript").
            var switchTo5x=true;
        script(type="text/javascript", src="http://w.sharethis.com/button/buttons.js")
        script(type="text/javascript", src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
        
        // This is needed because Facebook login redirects add #_=_ at the end of the URL
        script(type="text/javascript").
            stLight.options({publisher: "5ef2a14c-fbbc-45a1-96eb-8b6c89f9e010", doNotHash: false, doNotCopy: false, hashAddressBar: false});
            if (window.location.href.indexOf('#_=_') > 0) {
                window.location = window.location.href.replace(/#.*/, '');
            }
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-9780186080070625",
                enable_page_level_ads: true
              });
            
    body(data-ng-cloak)
        .navbar(data-ng-controller="NavCtrl")
            .navbar-inner
                .container-fluid
                    ul.nav.nav-tabs
                        li(data-access-level='accessLevels.public', active-nav)
                            a(href='/categories/') Home    
                        li(data-access-level='accessLevels.public', active-nav)
                            a(href='/argums/') My solutions   
                        li(data-access-level='accessLevels.public', active-nav)
                            a(href='/faq/') FAQ           
                        li(data-access-level='accessLevels.anon', active-nav,  ng-hide='user.username')
                            a(href='/login') Log in
                        li(data-access-level='accessLevels.anon', active-nav, ng-hide='user.username')
                            a(href='/register') Register     
                        li(data-access-level='accessLevels.user', active-nav='nestedTop')
                            a(href='/private') Account Information
                        li(data-access-level='accessLevels.admin', active-nav)
                            a(href='/admin') Admin
                        li(data-access-level='accessLevels.user')
                            a(href="", data-ng-click="logout()")
                                | Log out
                        div#userInfo.pull-right(data-access-level='accessLevels.user')
                            | Welcome&nbsp;
                            strong {{ user.username }}&nbsp;
                            span.label(data-ng-class='{"label-info": user.role.title == userRoles.user.title, "label-success": user.role.title == userRoles.admin.title}') {{ user.role.title }}
                   include partials/add.html           
                               
        .container(data-ui-view)
        .ul.nav.nav-social    
                        li(data-access-level='accessLevels.public')
                            a
                                span(class='st_facebook' displayText='Facebook')
                            a
                                span(class='st_twitter' displayText='Tweet')
                            a
                                span(class='st_linkedin' displayText='LinkedIn')
                            a
                                span(class='st_email' displayText='Email')

        #alertBox.alert.alert-danger(data-ng-show="error")
            button(type="button", class="close", data-ng-click="error = null;") &times;
            strong Oh no!&nbsp;
            span(data-ng-bind="error")


        script(src='/components/angular-cookies/angular-cookies.min.js')
        script(src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js")
        script(src="/components/angular-animate/angular-animate.js")
        script(src='/js/routingConfig.js')
        
   
        script(src='/js/app.js')
        script(src="/components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js")
        script(src="/components/angular-wysiwyg/angular-wysiwyg.js")

        script(src='/js/services.js')
        script(src='/js/controllers.js')
        script(src='/js/filters.js')
        script(src='/js/directives.js')
        script(src='/components/angular-ui-router/release/angular-ui-router.min.js')
        script(src='/components/angular-resource/angular-resource.min.js')
       
        script(type="text/javascript").
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-59628967-1', 'auto');
            ga('send', 'pageview');
           

        // Partial views... Load up front to make transitions smoother
        script(type="text/ng-template", id="404")
            include partials/404
        script(type="text/ng-template", id="admin")
            include partials/admin
        script(type="text/ng-template", id="home")
            include partials/home
        script(type="text/ng-template", id="newargum")
            include partials/argum-edit.html 
        script(type="text/ng-template", id="argumedit")
            include partials/argum-edit.html  
        script(type="text/ng-template", id="email")
            include partials/email.jade      
        script(type="text/ng-template", id="partials/argum-view.html")
            include partials/argum-view.html         
        script(type="text/ng-template", id="login")
            include partials/login
        script(type="text/ng-template", id="private/layout")
            include partials/private/layout
        script(type="text/ng-template", id="private/home")
            include partials/private/home
        script(type="text/ng-template", id="private/nested")
            include partials/private/nested
        script(type="text/ng-template", id="private/nestedAdmin")
            include partials/private/nestedAdmin
        script(type="text/ng-template", id="register")
            include partials/register
        script(type="text/ng-template", id="categories")
            include partials/categories    
        script(type="text/ng-template", id="faq")
            include partials/faq    
